@{
    ViewData["Title"] = "Accueil";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/RoyalAir.png" class="d-block w-100" alt="Avion 1">
    </div>
    <div class="text-center my-4">
    <img src="~/img/ram-logo.png" alt="Logo RAM" style="height: 100px;">
</div>
  </div>
</div>
